/* Cookies Screen */
#cookieDiv {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

#dismiss-button {
    cursor: pointer;
    background-color: #e74c3c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

#cookiePolicies {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}