  /* Responsive breakpoints */
  @media only screen and (min-width: 450px) {
      .grid-item {
          width: calc(50% - 20px);
          /* 50% for two columns */
      }
  }

  @media only screen and (min-width: 768px) {
      .grid-item {
          width: calc(50% - 20px);
          /* 50% for two columns */
      }
  }

  @media only screen and (min-width: 1024px) {
      .grid-item {
          width: calc(33.333% - 20px);
          /* 33.333% for three columns */
      }
  }

  @media only screen and (min-width: 1200px) {
      .grid-item {
          width: calc(25% - 20px);
          /* 25% for four columns */
      }
  }